# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask instance folder
instance/

# Configuration files
*.env
*.local

# IDE or editor specific files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Other files
*.DS_Store
*.egg-info/
*.egg
