@font-face {
    font-family: "Aspekta-350";
    src: url(fonts/otf/Aspekta-350.otf);
}
@font-face {
    font-family: "Aspekta-100";
    src: url(fonts/otf/Aspekta-100.otf);
}

html {
	scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    background-image: url(images/joao-barbosa-G0EOSG4ScWM-unsplash-flipped.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 2rem;
    height: 80px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #ccc, black);
    border-image-slice: 1;
    font-family: "Aspekta-350";
}

.nav .logo {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 50px;
}

.nav .name {
    width: 230px;
    height: auto;
    margin-left: 20px;
    margin-right: 50px;
}

.nav a{
    font-size: 25px;
    color: #ccc;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.3s;
}

.nav a:first-of-type {
    margin-left: 650px;
}

.nav a:hover {
    color: #e0115f;
    transform: scale(110%);
}

.flags {
    display: flex;
    font-family: "Aspekta-100";
    float: right;
    margin-top: 496px;
    margin-right: 100px;
}

.info-1 {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 150px;
    width: 300px;
    background-color: #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info-2 {
    text-align: center;
    margin-right: 15px;
    height: 150px;
    width: 300px;
    background-color: #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 80%;
}

.info-3 {
    text-align: center;
    margin-right: 15px;
    height: 150px;
    width: 300px;
    background-color: #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 50%;
}

.flags h2 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5px;
    margin-bottom: 5px;
}

.flags p {
    padding-top: 0px;
    margin-top: 0px;
}
