@font-face {
    font-family: "Aspekta-350";
    src: url(fonts/otf/Aspekta-350.otf);
}
@font-face {
    font-family: "Aspekta-100";
    src: url(fonts/otf/Aspekta-100.otf);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    
    background-image: url(/static/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -480px;
}

header {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    padding: 2rem 2rem;
}

.main {
    width: max-content;
    height: max-content;
    
    font-family: "Aspekta-350";
    text-align: center;
    color: white;
}

.main button {
    width: 200px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    
    background-color: black;
    transition: 0.2s ease;
}

.main button:hover {
    color: black;
    background-color: white;
}

.nav {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, white, white);
    border-image-slice: 1;
    
    font-family: "Aspekta-350";
    text-align: center;
}

.nav .logo {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 50px;
}

.nav .brand {
    width: 230px;
    height: auto;
    margin-left: 20px;
    margin-right: 50px;
}

.nav .nav-button {
    position: relative;
    left: 600px;
    margin-left: 50px;
    margin-right: 50px;
    
    font-size: 25px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.nav .nav-button:hover {
    color: white;
    transform: scale(110%);
}

.flags {
    display: flex;
    float: right;
    position: relative;
    bottom: 0;
    margin-right: 80px;
    font-family: "Aspekta-100";
}

.info-1 {
    height: 150px;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: height 0.2s ease;
}

.info-2 {
    height: 150px;
    width: 300px;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: height 0.2s ease;
}

.info-3 {
    height: 150px;
    width: 300px;
    margin-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: height 0.2s ease;
}

.info-1:hover {
    height: 250px;
}

.info-2:hover {
    height: 250px;
}

.info-3:hover {
    height: 250px;
}

.flags h2 {
    margin-right: 15%;
    margin-bottom: 5px;
    margin-left: 15%;
    padding: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: white;
}

.flags p {
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 580px;
    height: 380px;
    width: 520px;
    scale: 110%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    font-family: "Aspekta-350";
    font-size: 20px;
    color: white;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.contact form {
    position: relative;
    top: 17px;
    left: -15px;
    width: min-content;
    height: auto;
}

.contact h1 {
    position: relative;
    left: -15px;
    height: min-content;
    margin: 2rem;
    color: white;
}

.contact input[type="text"] {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
}

.contact input[type="email"] {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
}

.contact textarea {
    width: 200px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    font-family: "Aspekta-350";
}

.contact input[type="submit"] {
    width: 80px;
    height: 30px;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    background-color: black;
    transition: 0.2s;
}

.contact input[type="submit"]:hover {
    color: black;
    background-color: white;
    transform: scale(110%);
}

.about {
    position: relative;
    top: 50px;
    left: 400px;
    width: max-content;
    height: max-content;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    font-family: "Aspekta-350";
    color: white;
    
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.info-cities {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
    font-family: "Aspekta-350";
}

.cities {
    display: flex;
    float: left;
    position: relative;
    align-items: center;
    top: 200px;
    width: max-content;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    font-family: "Aspekta-350";
    text-decoration: none;
    color: white;
    
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
