<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>About-page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="nav">
            <img class="logo" src="static/images/Date-Knight-logo.png" alt="Logo">
            <img class="brand" src="static/images/Date-Knight-name.png" alt="Brand">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </header>
    <div class="about">
        <h1>What is DateKnight?</h1>
        <p>Choosing the perfect date can be quite the process, not to mention the nerves involved</p>
        <p>At DateKnight we provide a curated dating experience to ensure the best conditions to go above and beyond to wow your next date</p>
        <p>Through a careful and meticulous process, we've chosen the best local spots suitable for all kinds of dates</p>
        <p>Ranging from cozy and romantic, to sporty and adventurous</p>
    </div>
    <div class="cities">
        <h1>Available Citites:</h1>
        <a href="">Stavanger</a>
        <a href="">Bergen</a>
        <a href="">Oslo</a>
        <a href="">Trondheim</a>
    </div>
</body>
</html>
