<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/">
                <img class="logo" src="static/images/Date-Knight-logo.png" alt="Logo">
            </a>
            <img class="brand" src="static/images/Date-Knight-name.png" alt="Brand">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About</a>
            <a href="/contact" class="nav-button">Contact</a>
            <div class="login-register">
                <a href="/login" class="login">Login</a>
                <a href="/register" class="register">Register</a>
            </div>
        </div>
    </header>
    <div class="city">
        <h2>Select your City</h2>
        <button>Stavanger</button>
        <button>Bergen</button>
        <button disabled>Oslo</button>
        <button disabled>Trondheim</button>
    </div>
    <div class="category">
        <h2>Choose a category</h2>
        <button disabled>First date</button>
        <button disabled>Active</button>
        <button disabled>Creative</button>
        <button disabled>Adventurous</button>
        <button>Random</button>
    </div>
    <div class="amount">
        <h2>Choose the amount of activities</h2>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
    </div>
</body>
</html>
