<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Date-Knight</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/">
                <img class="logo" src="static/images/Date-Knight-logo.png" alt="Logo">
            </a>
            <img class="brand" src="static/images/Date-Knight-name.png" alt="Brand">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About</a>
            <a href="/contact" class="nav-button">Contact</a>
            <div class="login-register">
                <a href="/login" class="login">Login</a>
                <a href="/register" class="register">Register</a>
            </div>
            <div class="dark-mode">
                <label class="switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <span class="slider-round"></span>
                </label>
            </div>
        </div>
    </header>
    <div class="hero">
        <div class="hero-content">
            <h1>Got a date?</h1>
            <h4>Plan your next date with DateKnight</h4>
            <button>Click Here</button>
        </div>
    </div>
    <div class="info-1">
        <h2>Curated Experience</h2>
        <p>We want your date to be special</p>
    </div>
    <div class="info-2">
        <h2>Locally Sourced</h2>
        <p>We know the best spots in town</p>
    </div>
    <div class="info-3">
        <h2>Fast & Easy</h2>
        <p>Plan your perfect date in seconds</p>
    </div>
    <footer>
        <small>© <script>document.write(new Date().getFullYear())</script> DateKnight. All Rights Reserved.</small>
    </footer>
</body>
</html>
