<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date-Knight</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Welcome to Date-Knight</h1>
    <p>placeholder</p>

    <h2>Select your City</h2>
    <button>Stavanger</button>
    <button>Bergen</button>
    <button disabled>Oslo</button>
    <button disabled>Trondheim</button>

    <h2>Choose a category</h2>
    <button disabled>First date</button>
    <button disabled>Active</button>
    <button disabled>Creative</button>
    <button disabled>Adventurous</button>
    <button>Random</button>

    <h2>Choose amount of activities</h2>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
</body>
</html>
